<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>选择支付方式</title>
    <script type="text/javascript" th:src="@{/js/jquery-2.0.0.min.js}"></script>
</head>
 
<style>
    .login-container {
        margin: 10px;
        width: 100%;
    }
 
    .form-container {
        margin: 0px auto;
        width: 90%;
        text-align: center;
        box-shadow: 1px 1px 10px #888888;
        height: 600px;
        padding: 5px;
    }
 
    .title{
        margin-top: 5px;
        font-size: 18px;
        color: #E9686B;
    }
</style>
<body>
<div class="login-container">
   <div class="login-container">
		<div class="form-container">
			<p class="title">一分钱支付体验</p>
			<img th:src="@{/img/wechat_icon.jpg}" style="width: 50px; height: 50px;border-radius: 50px;" />
			<a th:href="@{/wechatH5pay}">微信</a>
			<img th:src="@{/img/aply_icon.jpg}" style="width: 50px; height: 50px;border-radius: 50px;" />
			<a th:href="@{/aliH5pay}">支付宝</a>
			<p class="title">【支付宝支付正在调试，如需体验，请点击公众号菜单：更多>支付宝体验更多】</p>
			<p class="title">如交易查询，退款，退款查询，交易关闭，对账单下载，提现，PC操作等功能</p>
		</div>
	</div>
</div>
</body>
</html>