<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,user-scalable=no" />
<head>
<meta charset="UTF-8">
<title>授权</title>
<script type="text/javascript" th:src="@{/js/jquery-2.0.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/my_location.js}"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<style>
.login-container {
	margin: 10px;
	width: 100%;
}

.form-container {
	margin: 0px auto;
	width: 90%;
	text-align: center;
	box-shadow: 1px 1px 10px #888888;
	height: 600px;
	padding: 5px;
}

.title {
	margin-top: 5px;
	font-size: 18px;
	color: #E9686B;
}
</style>
<body>
	<div class="login-container">
		<div class="form-container">
		     <div th:switch="${state}">
					<p class="title" th:case="'WECHAT'">微信授权结果</p>
					<p class="title" th:case="'ALI'">支付宝授权结果</p>
			</div>
			<p><input type="hidden" id="openId" th:value="${openId}"></p>
			<p><input type="hidden" id="state" th:value="${state}"></p>
			<p>账号：<span th:text="${authResult.account}"></span></p>
			<p>昵称：<span th:text="${authResult.nickname}"></span></p>
            <p>头像：<img th:src="${authResult.headImgUrl}" style="width: 60px;height: 60px;border-radius: 60px;">
            <p>性别：<span th:text="${authResult.sexDesc}"></span></p>
            <p>地区：<span th:text="${authResult.country}+'-'+${authResult.province}+'-'+${authResult.city}"></span></p>
		</div>
	</div>
</body>
</html>