<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width,user-scalable=no" />
<head>
<meta charset="UTF-8">
<title>授权体验</title>
<script type="text/javascript" th:src="@{/js/jquery-2.0.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/my_location.js}"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<style>
.login-container {
	margin: 10px;
	width: 100%;
}

.form-container {
	margin: 0px auto;
	width: 90%;
	text-align: center;
	box-shadow: 1px 1px 10px #888888;
	height: 600px;
	padding: 5px;
}

.title {
	margin-top: 5px;
	font-size: 18px;
	color: #E9686B;
}
</style>
<body>
	<div class="login-container">
		<div class="form-container">
			<p class="title">授权体验</p>
			<img th:src="@{/img/wechat_icon.jpg}"
				style="width: 50px; height: 50px; border-radius: 50px;" /> <a
				th:href="@{/wechatAuthorize}">微信</a> <img
				th:src="@{/img/aply_icon.jpg}"
				style="width: 50px; height: 50px; border-radius: 50px;" /> <a
				th:href="@{/aliAuthorize}">支付宝</a> <img
				th:src="@{/img/oauth_icon.jpg}"
				style="width: 50px; height: 50px; border-radius: 50px;" /> <a
				href="http://www.openjust.xyz:83/">体验更多OAuth2.0</a>
		</div>
	</div>
</body>
</html>